<nav id="sidebarMenu" class="col-md-2 d-md-block bg-light sidebar collapse">

    <div class="position-sticky pt-3">

        <ul class="nav flex-column">

            <li class="nav-item">
                <a class="nav-link active" href="{% url 'dashboard' %}">
                    Dashboard
                </a>
            </li>

            <a class="nav-link" href="{% url 'lista_alunos' %}">
                Alunos
            </a>


            <li class="nav-item">
                <a class="nav-link" href="{% url 'lista_aulas' %}">
                    Aulas
                </a>
            </li>

            <!-- <li class="nav-item">
                <a class="nav-link" href="#">
                    Presenças
                </a>
            </li> -->

            <li class="nav-item">
                <a class="nav-link" href="{% url 'lista_mensalidades' %}">
                    Mensalidades
                </a>
            </li>

            <a class="nav-link" href="{% url 'qr_checkin' %}">
                Check-in QR
            </a>

        </ul>

    </div>

</nav>