{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">
    Dashboard
</h1>

<div class="row">

    <div class="col-md-3 mb-4">

        <div class="card shadow-sm">

            <div class="card-body">

                <h5>Total Alunos</h5>

                <h2>
                    0
                </h2>

            </div>

        </div>

    </div>

    <div class="col-md-3 mb-4">

        <div class="card shadow-sm">

            <div class="card-body">

                <h5>Mensalidades Pendentes</h5>

                <h2>
                    0
                </h2>

            </div>

        </div>

    </div>

    <div class="col-md-3 mb-4">

        <div class="card shadow-sm">

            <div class="card-body">

                <h5>Presenças Hoje</h5>

                <h2>
                    0
                </h2>

            </div>

        </div>

    </div>

</div>

{% endblock %}